<div
  class="cic-phonenumber{{
    _formControl.invalid && (_formControl.touched || _formControl.dirty)
      ? ' error-border'
      : ''
  }} {{ styleClass }}"
>
  <!-- Country dropdown -->
  <p-dropdown
    [options]="_countries"
    [(ngModel)]="_selectedCountry"
    (onChange)="activeDialChanged($event)"
    optionLabel="name"
    [filter]="true"
    placeholder="+###"
    filterBy="name,dial_code"
    styleClass="cic-phonenumber__dropdown {{ dropdownStyleClass }}"
  >
    <!-- Selected item -->
    <ng-template pTemplate="selectedItem">
      <div class="cic-phonenumber__selected" *ngIf="_selectedCountry">
        <i class="fi fi-{{ _selectedCountry.code }}"></i>
        <span>{{ _selectedCountry.dial_code }}</span>
      </div>
    </ng-template>

    <!-- Dropdown item -->
    <ng-template let-country pTemplate="item">
      <div class="cic-phonenumber__item">
        <div>
          <i class="fi fi-{{ country.code }}"></i>
          <span>{{ country.name }}</span>
        </div>
        <span>{{ country.dial_code }}</span>
      </div>
    </ng-template>
  </p-dropdown>

  <!-- Phone input -->
  <input
    pInputText
    class="cic-phonenumber__input {{ inputStyleClass }}"
    type="tel"
    [placeholder]="getPlaceholder()"
    [(ngModel)]="_phoneNumber"
    (ngModelChange)="onPhoneChange($event)"
    (click)="touched()"
  />
</div>
